<a href="https://colab.research.google.com/github/martlegaspi/OOP-58002/blob/main/OOP_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Classes with Multiple Objects

In [ ]:
class Birds:
 def __init__(self, bird_name):
  self.bird_name = bird_name

 def flying_birds(self):
  print(f"{self.bird_name} flies above clouds")
 
 def non_flying_birds(self):
  print(f"{self.bird_name} is the national bird of the Philippines")

vulture = Birds("Griffon Vulture")
crane = Birds("Common Crane")
emu = Birds("Emu")

vulture.flying_birds()
crane.flying_birds()
emu.non_flying_birds()

Griffon Vulture flies above clouds
Common Crane flies above clouds
Emu is the national bird of the Philippines

Encapsulation(mangling with double underscores)

In [ ]:
class foo:
 def __init__(self, a, b):
  self.__a = a
  self.__b = b
 
 def add(self):
  return self.__a + self.__b

 def sub(self):
  return self.__a - self.__b

foo_object = foo(3, 4)


#print(foo_object.b)
print(foo_object.add()) #adding a and b
print(foo_object.sub()) #subtracting a and b

foo_object.__b = 5
foo_object.__a = 7

print(foo_object.add())
print(foo_object.sub())

7
-1
7
-1

Inheritance

In [ ]:
class Person:
 def __init__(self, firstname, surname):
  self.firstname = firstname
  self.surname = surname

 def printname(self):
  print(self.firstname, self.surname)

person = Person("Mam", "Sayo")
person.printname()

class Student(Person):
 pass

person = Student("Asley", "Goce")
person.printname()

Mam Sayo
Asley Goce

Polymorphism

In [ ]:
class RegularPolygon:
 def __init__(self, side):
  self.side = side
class Square(RegularPolygon):
 def area(self):
  return self.side*self.side
class EquilateralTriangle(RegularPolygon):
 def area(self):
  return self.side*self.side*0.433

x = Square(4)
y = EquilateralTriangle(3)

print(x.area())
print(y.area())

16
3.897

Application 1

1. Create a Python program that displays the name of three students (Student 1, Student 2, and Student 3) and their term grades
2. Create a class name Person and attributes - std1, std2, std3, pre, mid, fin
3. Compute the average of each term grade using Grade() method
4. Information about student's grades must be hidden from others

In [26]:
class Person:
 def __init__(self, std1, std2, std3, pre, mid, fin):
  self.__std1 = std1
  self.__std2 = std2
  self.__std3 = std3
  self.__pre = pre
  self.__mid = mid
  self.__fin = fin
 
 def Grade(self):
  return (self.__pre+self.__mid+self.__fin)/3
 
 def showa(self):
  return self.__std1
 
 def showb(self):
  return self.__std2
 
 def showc(self):
  return self.__std3

class Student1(Person):
 def show1(self):
  print(f"{self.showa()} average term grade is {self.Grade()}")
  
class Student2(Person):
 def show2(self):
  print(f"{self.showb()} average term grade is {self.Grade()}")

class Student3(Person):
 def show3(self):
  print(f"{self.showc()} average term grade is {self.Grade()}")

name1 = Student1("Byan Golveo", None, None, 76, 83, 81)
name1.__std1 = "change"
name1.__pre = 0
name1.show1()
  
name2 = Student2(None, "Nicole Tabligan", None, 86, 74, 90)
name2.show2()

name3 = Student3(None, None, "Mart Legaspi", 75, 70, 79)
name3.show3()

Byan Golveo average term grade is 80.0
Nicole Tabligan average term grade is 83.33333333333333
Mart Legaspi average term grade is 74.66666666666667